/* Work sans fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* Shared styles */
* {
  margin: 0;
  padding: 0;
}
:root {
  --color-gradient: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  --primary-color: #ff42a5;
}
body {
  font-family: "Work Sans", sans-serif;
}
img {
  width: 100%;
}
.letter-g {
  color: var(--primary-color);
}
.txt-color{
    color: #534C64;
    font-weight: 400;
    font-size: 1rem;
}
.btn{
    padding: 12px 20px;
    border-radius: 20px;
    border: none;
}
/* navbar */
nav {
  padding: 10px 100px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 20px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav .logo {
  font-size: 1rem;
  font-weight: 700;
  align-items: center;
  display: flex;
  gap: 10px;
}
nav .logo img {
  width: 65px;
  height: 30px;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 22px;
}
nav ul li {
  list-style-type: none;
}
nav ul li a,
nav ul li p {
  color: #3c354f;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
}
.follow-us {
  align-items: center;
  padding: 8px 18px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  display: flex;
  gap: 18px;
}
.follow-us i {
  font-size: 2rem;
}
.fa-youtube {
  color: red;
}
/* banner section */
.banner-container {
    width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content-bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100vh;
    background: url('/images/group_14.png') no-repeat;
    background-size: 100% 100%;
}
.banner-content{
    margin-left: 100px;
}
.banner-content h1 {
  font-weight: 600;
  color: #0b0223;
  font-size: 2rem;
  margin-bottom: 15px;
}
.banner-container .goat {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 800;
  background: var(--color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.banner-container p{
    font-size: 0.8rem;
}
.banner-container img {
    margin-right: 100px;
  width: 50%;
}
.banner-content-buttons{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.btn-sign-in{
   color: white;
   background-color: var(--primary-color);
}
.btn-go-rogue{
    background-color: #4EC5F7;
    color: white;
}
/* we are gamer */
.gamer-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
}
.gamer-container img{
    width: 60%;
    gap: 20px;
}
.gamer-content h1{
    font-size: 2rem;
    font-weight: 800;
    background: var(--color-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-content p{
    font-size: 1rem;
    margin: 20px 0px;
}
.gamer-content h3{
    color: #534C64;
font-size: 1.2rem;
font-style: normal;
font-weight: 700;
}