/* mobile devices */
@media screen and (max-width: 425px) {
    nav{
        flex-direction: column;
        padding: 20px 60px;
        gap: 20px;
    }
    ul{
        flex-direction: column;
        gap: 0px;
    }
    .banner-container{
        margin-top: 200px;
        flex-direction: column-reverse;

        gap: 40px;
    }
    .banner-container img{
        margin-right: 0px;
        width: 70% !important;
    }
    .banner-content-bg{
        background:none;
    }
    .banner-content{
        margin-left: 0px;

    }
    .banner-content h1{
        font-size: 1.8rem;
    }
    .btn{
        font-size: 0.7rem;
    }
    .gamer-container{
        padding: 20px;
        flex-direction: column;
        text-align: center;
    }
    .gamer-container img{
        width: 100%;
    }
    .funny-videos-container{
        padding: 40px;
    }
    .funny-videos-container h1{
    }
    .cards-container{
        flex-direction: column;
    }
}
/* tablet devices */
@media screen and (min-width: 425px) and (max-width: 768px){
    nav{
        flex-direction: column;
    }
    ul{
        margin-top: 20px;
    }
    .banner-container img{
        width: 40%;
    }
    .gamer-container{
        padding: 40px;
        flex-direction: column;
        text-align: center;
    }
    .gamer-container img{
        width: 100%;
    }
    .cards-container{
        gap: 60px;
        flex-wrap: wrap;
    }
}